body {
    margin: 0;
}


header {
    background-color: #f3eae0;
}

.header_div,
main {
    max-width: 1150px;
    margin: auto;
    padding-bottom: 100px;
}

/* navbar style  */
.web_logo {
    font-size: 40px;
}

.nav_ul a {
    text-decoration: none;
    color: rgb(58, 57, 57);
    font-size: larger;
}

.nav_ul>li :hover {
    color: rgb(153, 149, 149);
}

.nav_ul>li {
    list-style: none;
    display: inline;
    margin-left: 35px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------- */

/* banner style  */
.banner_content {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.banner_content>h1 {
    font-size: 64px;
    font-weight: bold;
}

.banner_content>p {
    color: gray;
    font-size: 18px;

}

.banner_img>img {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 45px;
}

/* ---------------------------- */

/* Quick list of Our Features Styles */
.OurFeatures_content {
    width: 500px;

}

.OurFeatures_content>h1 {
    font-size: 45px;
    font-weight: bold;
}

.OurFeatures_content>p,
.colorGraFont18 {
    color: gray;
    font-size: 18px;
}

.features {
    color: #FF900E;
}

.quick {
    color: gray;
}

.OurFeatures {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.OurFeatures_imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ;
    gap: 15px;
}

.OurFeatures_imageContainer>img {
    width: 100%;
}

/* --------------------------- */

/* Features you will love & enjoy Styles */
.featuresWillLoveAndEnjoy {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;


}

.love_enjoy_Parent {
    flex: 1;
}

.img_architect_Parent {
    flex: 1;
    position: relative;
    margin-left: 50px;
}

.features_love_enjoy>h1 {
    font-weight: bold;
    border-left: #FF900E 5px solid;
    line-height: 2.6rem;
    padding-left: 20px;
}

.enjoy_Card {
    padding: 10px 20px;
    box-shadow: 2px 2px 10px 2px #f3eae0;
    margin-bottom: 5px;
}

.img_architect>img {
    width: 100%;

}

.year10>h2 {
    font-size: 40px;
}

.year10 {
    bottom: -65px;
    left: -60px;

    position: absolute;
    width: 300px;
    background-color: #FF900E;
    color: white;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

/* -------------- */


/* some_Facts_contentSome Facts style */
.some_Facts_CarContainer{
     padding: 10px;
    gap: 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.some_Facts_content {
    margin-top: 120px;
    width: 50%;
}

.some_facts_card {
   
    border-radius: 5px;
    text-align: center;
    padding: 35px;
    border: 1px #FF900E solid;
}

.some_facts_card>p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: gray;
}

.some_facts_card>h5 {
    color: gray;
    margin: 0;
    padding: 0;
}



/* shared style */

.btn_primary {
    padding: 20px 25px;
    border-radius: 7px;
    border: none;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.btn_primary:hover {
    background-color: rgb(218, 134, 45);
}